@page
@model IndexModel
@{
    ViewData["Title"] = "Supply Closet";
}
<body>

    <div class="text-center">
        <h1 class="display-4 landing-title">Inventory Mangement for Supply Closet</h1>
        <p class="lead landing-descrip">Welcome to the Engineering Connections Supply Closet Inventory!</p>
    </div>

    <div>
        <image class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Colorado_Buffaloes_logo.svg/1200px-Colorado_Buffaloes_logo.svg.png"></image>
    </div>
</body>